*

!usr/
!usr/src/
!usr/src/linux-5.12.9.conf/
!usr/src/linux-5.12.9.conf/.config

!etc/
!etc/portage/
!etc/portage/make.conf

!.gitignore

!home/
!home/simon/

!home/simon/.zshrc
!home/simon/.aliasrc
!home/simon/.funcsrc

!home/simon/.scripts/
!home/simon/.scripts/*

!home/simon/.config/
home/simon/.config/*

!home/simon/.config/alacritty/
!home/simon/.config/alacritty/**/*

!home/simon/.config/nvim/
!home/simon/.config/nvim/**/*

home/simon/.config/nvim/autoload/
home/simon/.config/nvim/autoload/*
home/simon/.config/nvim/plugged/
home/simon/.config/nvim/plugged/*
