*
!.gitignore
!.zshrc
!.aliasrc
!.funcsrc

!.config/
.config/*

!.config/alacritty/
!.config/alacritty/**/*

!.config/sway/
!.config/sway/**/*

!.config/waybar/
!.config/waybar/**/*

!.config/wofi/
!.config/wofi/**/*

!.config/rofi/
!.config/rofi/**/*


!.config/nvim/
!.config/nvim/**/*
.config/nvim/autoload/
.config/nvim/autoload/*
.config/nvim/plugged/
.config/nvim/plugged/*
